.input1 {
  width: 400px;
}
.input2 {
  width: 400px;
  margin-right: 90px;
}
.input1,
.input2 {
  padding: 15px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background-color: rgb(194, 191, 191);

  border-radius: 20px;
}

.button1 {
  min-width: 30px;
  border: none;
  color: green;
  font-size: 60px;
}
.button1:hover {
  cursor: pointer;
}
.row {
  margin-top: 10px;
  margin-left: -9px;
  display: flex;
}
