.button {
  min-width: 30px;
  border: none;
  color: red;
  font-size: 60px;
}
.button:hover {
  cursor: pointer;
}
.inp1 {
  width: 400px;
}

.inp1,
.inp2 {
  padding: 15px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgb(232, 232, 232);
  box-shadow: 2px 2px 5px 0px rgba(166, 203, 240, 0.3);
  border-radius: 20px;
}

li {
  list-style: none;

  text-align: left;
}
.row {
  margin-top: 10px;
  margin-left: -9px;
  display: flex;
}
